absl-py==2.1.0
acres==0.3.0
aiocache==0.12.3
aiofiles==24.1.0
aiogram==3.16.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
aiosqlite==0.20.0
aiostream==0.5.1
alabaster==1.0.0
aniso8601==10.0.0
annotated-types==0.7.0
anthropic==0.3.11
anyascii==0.3.2
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.3
argilla==0.0.1
arroba==0.8
arrow==1.3.0
arxiv==2.2.0
asgiref==3.7.2
astor==0.8.1
astroid==3.0.3
asttokens==2.4.1
async-timeout==4.0.3
asyncer==0.0.2
asyncpg==0.30.0
atlastk==0.13.3
atproto==0.0.30
attrs==24.3.0
audioread==3.0.1
auth0-python==4.5.0
Authlib==1.2.1
Automat==22.10.0
babel==2.16.0
backoff==2.2.1
bangla==0.0.2
bases==0.3.0
bcrypt==4.2.1
beautifulsoup4==4.12.2
bibtexparser==1.4.3
bidict==0.22.1
bitarray==3.0.0
black==23.11.0
blessed==1.20.0
blinker==1.9.0
blis==1.1.0
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
boltons==25.0.0
bracex==2.4
build==0.10.0
CacheControl==0.13.1
cachetools==5.3.1
carbox==0.3
cargo==0.3
catalogue==2.0.10
cattrs==23.1.2
cbor2==5.6.5
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.1
Chroma==0.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.14
ci-info==0.3.0
ciso8601==2.3.2
clang==16.0.1.1
cleo==2.0.1
click==8.1.3
click-option-group==0.5.6
clickhouse-connect==0.6.17
cloudpathlib==0.20.0
cloudpickle==2.2.1
cohere==4.31
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
compressed_rtf==1.0.6
confection==0.1.5
configobj==5.0.9
configparser==7.2.0
constantly==15.1.0
contourpy==1.3.1
coqpit==0.0.17
coverage==7.6.12
crashtest==0.4.1
cryptography==44.0.0
ctransformers==0.2.27
cycler==0.12.1
cymem==2.0.10
Cython==3.0.11
dacite==1.8.1
dag-cbor==0.3.3
dag-json==0.3
dataclasses-json==0.5.14
dateparser==1.1.8
DateTime==5.5
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.7
diskcache==5.6.3
distlib==0.3.7
distro==1.9.0
dnspython==2.4.2
docarray==0.21.1
docker==6.1.3
docopt==0.6.2
docstring-parser==0.15
docutils==0.21.2
docx2txt==0.8
duckdb==0.9.1
dulwich==0.21.6
durationpy==0.9
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.0
einops==0.8.0
encodec==0.1.1
et-xmlfile==1.1.0
etelemetry==0.3.1
Events==0.5
executing==2.0.1
face==22.0.0
faiss-cpu==1.7.4
fake-useragent==1.5.1
fastapi==0.115.6
fastapi-socketio==0.0.10
fastapi_poe==0.0.23
fastavro==1.8.2
feedparser==6.0.11
ffprobe==0.5
filelock==3.12.4
filetype==1.2.0
fitz==0.0.1.dev2
flake8==7.1.2
Flask==3.1.0
Flask-Login==0.6.3
flask-restx==1.3.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
flatbuffers==23.5.26
fonttools==4.55.3
free_proxy==1.1.3
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2023.10.0
g2pkk==0.1.2
gevent==22.10.2
gevent-websocket==0.10.1
ghp-import==2.1.0
git-python==1.0.3
gitdb==4.0.10
GitPython==3.1.36
glom==22.1.0
google-ai-generativelanguage==0.6.15
google-api-core==2.12.0
google-api-python-client==2.104.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
google-generativeai==0.8.4
google-search-results==2.4.2
googleapis-common-protos==1.61.0
gotrue==1.2.0
grapheme==0.6.0
greenlet==3.0.0
grpcio==1.71.0
grpcio-health-checking==1.59.0
grpcio-reflection==1.59.0
grpcio-status==1.63.0rc1
grpcio-tools==1.59.0
grpclib==0.4.3
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gTTS==2.5.4
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hangul-romanize==0.1.0
hnswlib==0.7.0
hpack==4.0.0
html2image==2.0.4.3
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.3.1
huggingface-hub==0.27.0
humanfriendly==10.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.10
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.0
incremental==22.10.0
inflect==7.5.0
iniconfig==2.0.0
inquirer==3.1.3
installer==0.7.0
ipykernel==6.27.0
ipython==8.17.2
iso8601==2.1.0
isodate==0.6.1
isort==5.13.2
iterators==0.2.0
itsdangerous==2.2.0
jamo==0.4.1
jaraco.classes==3.3.0
jcloud==0.3
jedi==0.19.1
jieba==0.42.1
jina==3.15.2
jina-hubble-sdk==0.39.0
Jinja2==3.1.2
jiter==0.9.0
joblib==1.3.2
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2023.7.1
jupyter_client==8.6.0
jupyter_core==5.5.0
keyring==24.2.0
kiwisolver==1.4.8
langchain==0.0.330
langchain-serve==0.0.61
langchainplus-sdk==0.0.20
langcodes==3.5.0
langsmith==0.0.60
language_data==1.3.0
Lazify==0.4.0
lazy-object-proxy==1.10.0
lazy_loader==0.4
lexrpc==1.1
libipld==1.0.1
librosa==0.10.2.post1
linkify-it-py==2.0.2
llama-cpp-python==0.1.85
llvmlite==0.43.0
loguru==0.7.2
looseversion==1.3.0
lxml==4.9.3
lz4==4.3.2
magic-filter==1.0.12
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.10.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.4
mkdocs-material-extensions==1.3.1
modal==0.55.4071
modal-client==0.55.4071
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.5
multidict==6.1.0
multiformats==0.3.1.post4
multiformats-config==0.3.1
multiprocess==0.70.15
multitasking==0.0.11
murmurhash==1.0.11
mypy==1.7.1
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==2.8.8
nibabel==5.3.2
nipype==1.10.0
nltk==3.8.1
nodeenv==1.8.0
num2words==0.5.14
numba==0.60.0
numexpr==2.8.7
numpy==1.26.1
olefile==0.46
onnxruntime==1.16.1
ooba==0.0.21
openai==1.72.0
openapi-schema-pydantic==1.2.4
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.1
openpyxl==3.1.2
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-exporter-otlp-proto-http==1.20.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-instrumentation==0.41b0
opentelemetry-instrumentation-aiohttp-client==0.41b0
opentelemetry-instrumentation-asgi==0.41b0
opentelemetry-instrumentation-fastapi==0.41b0
opentelemetry-instrumentation-grpc==0.41b0
opentelemetry-proto==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
opentelemetry-util-http==0.41b0
orjson==3.10.12
outcome==1.3.0.post0
overrides==7.4.0
packaging==24.1
paginate==0.5.7
pandas==2.2.3
param==1.13.0
parso==0.8.3
passlib==1.7.4
pathable==0.4.4
pathlib==1.0.1
pathspec==0.11.2
pdf2image==1.16.3
pdfminer.six==20231228
pdfplumber==0.11.5
peewee==3.17.6
peewee-migrate==1.12.2
pexpect==4.8.0
pgvector==0.3.5
piexif==1.1.3
pillow==11.1.0
pillow_heif==0.22.0
pinecone-client==2.2.4
pkginfo==1.9.6
platformdirs==3.10.0
pluggy==1.5.0
poetry-core==1.7.0
pooch==1.8.2
portalocker==2.8.2
postgrest==0.11.0
posthog==3.0.2
preshed==3.0.9
primp==0.9.2
prisma==0.10.0
progressbar==2.5
prometheus-client==0.17.1
prompt-toolkit==3.0.39
propcache==0.2.1
proto-plus==1.25.0
protobuf==4.24.4
prov==2.0.1
psutil==5.9.6
psycopg==3.1.12
psycopg-binary==3.1.12
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
puremagic==1.29
py-cpuinfo==9.0.0
pyarrow==18.1.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.13.6
pyclipper==1.3.0.post6
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydot==3.0.4
pydub==0.25.1
pyee==8.2.2
pyflakes==3.2.0
Pygments==2.19.1
pyheif==0.8.0
PyJWT==2.9.0
pylint==3.0.2
pymdown-extensions==10.14.3
pymediainfo==7.0.1
pymongo==4.5.0
PyMySQL==1.1.1
pynndescent==0.5.13
pyOpenSSL==23.2.0
pypandoc==1.13
pyparsing==3.1.1
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
PyPika==0.48.9
pypika-tortoise==0.3.2
pypinyin==0.53.0
pyppeteer==1.0.2
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pysbd==0.3.4
PySocks==1.7.1
pysrt==1.1.2
pytesseract==0.3.13
pytest==8.3.4
pytest-asyncio==0.25.3
pytest-cov==6.0.0
python-crfsuite==0.9.11
python-dateutil==2.8.2
python-docx==1.0.1
python-dotenv==1.0.0
python-editor==1.0.4
python-engineio==4.8.0
python-frontmatter==1.0.0
python-graphql-client==0.4.3
python-iso639==2024.10.22
python-jose==3.3.0
python-lsp-jsonrpc==1.0.0
python-magic==0.4.27
python-multipart==0.0.20
python-pptx==0.6.22
python-socketio==5.10.0
pytube==15.0.0
pytz==2024.2
pyxlsb==1.0.10
pyxnat==1.6.3
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==25.1.1
qdrant-client==1.6.3
rank-bm25==0.2.2
rapidfuzz==2.15.1
rdflib==6.3.2
readchar==4.0.5
realtime==1.0.0
red-black-tree-mod==1.20
redis==5.2.1
referencing==0.30.2
regex==2023.10.3
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.9.4
roman-numerals-py==3.1.0
rotary-embedding-torch==0.8.6
rpds-py==0.10.4
rsa==4.9
ruamel.yaml==0.17.35
ruamel.yaml.clib==0.2.8
safetensors==0.4.5
scholarly==1.7.11
scikit-learn==1.3.2
scipy==1.11.3
selenium==4.15.2
semanticscholar==0.10.0
semgrep==1.43.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
sgmllib3k==1.0.0
shapely==2.0.6
shellingham==1.5.3
sherlock==0.4.1
sigtools==4.0.1
simple-websocket==1.0.0
simplejson==3.20.1
six==1.17.0
slack-bolt==1.18.0
slack-sdk==3.22.0
smart-open==7.1.0
smartgpt==0.1.3.1
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.2.1
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.23
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
srsly==2.5.1
sse-starlette==1.6.5
stack-data==0.6.3
starlette==0.41.3
storage3==0.6.1
StrEnum==0.4.15
structlog==25.1.0
SudachiDict-core==20241021
SudachiPy==0.6.9
supabase==1.2.0
supafunc==0.2.3
sympy==1.13.1
syncer==2.0.3
synchronicity==0.5.3
tabulate==0.9.0
tblib==3.0.0
tenacity==8.2.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
textual==0.37.1
thinc==8.3.3
threadpoolctl==3.2.0
tiktoken==0.4.0
tokenizers==0.21.0
tokentrim==0.1.13
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
torch==2.6.0
torchaudio==2.5.1
torchvision==0.21.0
tornado==6.3.3
tortoise==0.1.1
tortoise-api==0.10.12
tortoise-api-model==0.10.2
tortoise-orm==0.23.0
tqdm==4.67.1
trainer==0.0.36
traitlets==5.13.0
traits==7.0.2
transformers==4.47.1
trio==0.23.1
trio-websocket==0.11.1
trove-classifiers==2023.9.19
Twisted==23.8.0
typeguard==4.4.1
typer==0.9.0
types-cachetools==5.3.0.6
types-certifi==2021.10.8.3
types-python-dateutil==2.9.0.20241206
types-PyYAML==6.0.12.12
types-toml==0.10.8.7
typing==3.7.4.3
typing-inspect==0.8.0
typing-inspection==0.4.0
typing-validation==1.2.12
typing_extensions==4.13.1
tzdata==2023.3
tzlocal==5.2
uc-micro-py==1.0.2
ujson==5.8.0
umap-learn==0.5.7
Unidecode==1.3.8
unstructured==0.7.12
uptrace==1.20.2
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
validators==0.33.0
Vertex==0.3.1
virtualenv==20.24.5
wasabi==1.1.3
watchdog==3.0.0
watchdog-gevent==0.1.1
watchfiles==0.20.0
wcmatch==8.5
wcwidth==0.2.13
weasel==0.4.1
weaviate-client==3.24.2
websocket-client==1.6.4
websockets==11.0.3
Werkzeug==3.1.3
wget==3.2
wikipedia==1.4.0
wrapt==1.15.0
wsproto==1.2.0
xattr==0.10.1
xlrd==2.0.1
XlsxWriter==3.1.9
xxhash==3.5.0
yarl==1.18.3
yaspin==3.0.1
yfinance==0.2.57
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
zstandard==0.21.0
